<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="11974fd0-723b-4aa4-949d-bd5e621fb237" name="erc test" alias="erc-test" type="" color="" trialExpireDate="2023-02-22T19:56:14.0000000">
  <environment type="live" name="Live" id="7c72be8d-3b80-424e-b3c2-fc947a6394ef">https://erc-test.useast01.umbraco.io</environment>
</environments>