<?xml version="1.0" encoding="utf-8"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="https://www.worldwideerc.org" AssertionConsumerServiceUrl="~/SamlBeacon/ReceiveSso.ashx" LocalCertificateFile="App_Data/SAML/WWERC WWERC Academy Service Provider.pfx" LocalCertificatePassword="e5929045-b0e9-4a40-94bf-a44cb6ad8500+WWERC+WWERC Academy" />
  <PartnerIdentityProvider Name="https://ams.worldwideerc.org" SignAuthnRequest="true" WantSAMLResponseSigned="false" WantAssertionSigned="true" WantAssertionEncrypted="false" SingleSignOnServiceUrl="https://ams.worldwideerc.org/SAML/SAML/SSOService" SingleLogoutServiceUrl="https://ams.worldwideerc.org/SAML/SAML/SLOService" PartnerCertificateFile="App_Data/SAML/Partners/WWERC Identity Provider.cer" />
</SAMLConfiguration>